.header {
	background-color: #1B1C1D;
	color: rgba(255, 255, 255, 0.9);

}
	.header-buttons-text {
		color: rgba(255, 255, 255, 0.9);
	}
	.header-container {
		padding: 20px 0;
		font-weight: bold;
		font-size: 24px;
	}
		.header-container-context {
			text-align: center;
		}
	.header-siteName {
		padding-top: 6px;
	}
.prompt {
	height: 20px;
	width: 220px;
}