.awards-container {
	padding-bottom: 45px;
}
.awards-titile {
	background-color: initial !important;
}
.awards-body{
	font-family: Tahoma,Geneva,sans-serif;
	text-align: center;
	margin: 65px 0;
	color: #000;
}

/* ##### PARALLAX TITLE AREA ##### */
.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-overlay {
	background-color: rgba(0, 0, 0, 0.6);
  padding:0px 0px 60px 0px;
}
.parallax-overlay h4:after{
    background-color: #ffffff;
    content: "";
    display: block;
    height: 1px;
    margin: 20px auto 0;
    width: 40px;
}

.section-title h1.white:before, .section-title h1.white:after {
    background: none repeat scroll 0 0 #ffffff;
}
h1, h2, h3, h4, h5, h6, .section-title {
	font-family: 'Oswald', helvetica, arial, sans-serif;
}
.white{
color:#ffffff !important;
}