#bodyContext {
	background-color:#f4f4f4;
}
.ui.right.rail {
	padding: 0;
	margin: 0;
	width: 100px;
	height: initial !important;
}
.ui.sticky.fixed.top {
	bottom: 50px;
	top: initial;
}

.ui.rail {
	top: 20px;
}

.ui.sticky.bound.bottom {
	bottom: 50px;
	position: fixed;
}
@media (max-width: 414px) {
	.ui.right.rail {
		display: none;
	}
}
