#bodyContext {
	background-color:#f4f4f4;
}
.ui.right.rail {
	padding: 0;
	margin: 0;
	width: 100px;
	height: initial !important;
}
.ui.sticky.fixed.top {
	bottom: 50px;
	top: initial;
}

.ui.sticky.bound.bottom {
	bottom: 50px;
	position: fixed;
}