.navigator {
	display: flex;
	flex-direction: column;
	top: 0 !important;
	bottom: auto !important;
}
	.navigator-container {
		background-color: #1B1C1D;
		display: flex;
	}
		.navigator-container-content {
			display: flex;
		}
	.navigator-picture {
		height: 400px;
		background-color: antiquewhite;
		margin: 20px 50px;
	}

.ui.menu {
	background: initial;
	border: initial;
}

.navigator {
	margin: 0;
	min-height: auto !important;
}
.nav-dropDown-subMenu .dropdown-menu {
	right: -101%;
	top: 0 !important;
}

.carousel-inner, {
	height: 500px;
}

.carousel-inner .active, .navigator-picture {
	height: 600px !important;
}

.navigator-picture {
	margin: 0;
}